    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h1 { 
            color: rgb(149, 0, 255);
        }
    </style>
</head>
<body>
    We will contact you shortly...
    <h1>User Information</h1>
    <ul>
        <li>Username: {{name}}</li>
        <li>User Email: {{email}}</li>
        <li>PhoneNumber: {{phone}}</li>
    </ul>
    <p>Message: {{message}}</p>

    </body>
</html>