    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h1 { 
            color: rgb(55, 0, 255);
        }
    </style>
</head>
    <body>
        <h1>Recovery successful</h1>

      <p>Success {{name}}!</p>
      <p>We wanted to let you know that your password was reset.</p>
      <p>If you run into problems, please contact support.</p>
      <p>Thanks, The team of {{company}}</p>

      <p>Please do not reply to this email with your password. 
          We will never ask for your password, and we strongly discourage you from sharing it with anyone.</p>
      

    </body>
</html>
