    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h1 { 
            color: rgb(55, 0, 255);
        }
    </style>
</head>
    <body>

    <h1>Recovery password</h1>

      <p>Forgot your password?</p>
      <p>If you want to reset your password, click on the link below (or copy and paste the URL into your browser):</p>
      <p>Link to recovery::{{recoverylink}}</p>
      <p>This link will lead you to the secure page for password reset.</p>
      <p>If you don't want to reset your password, please ignore this message. Your password will not be reset.</p>
      <p>Thanks, The team of {{company}}</p>

    </body>
</html>