.submenulink {
    text-decoration: none;
}

.submenuItems {
    display: flex;
    background: #F9F9F9;
    margin-left: 5px;
    width: 98%;
}

.submenuItems .submenulink {
    display: block;
    color: #727272;
    margin-left: 0px;
    padding: 12px 0px 12px 15px;
    transition: all 0.4s ease-out;
    width: 98%;
}

.submenuItems:hover .submenulink:hover {
    background-color: #E5E5E5;
    color: black;
}