.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 5rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  border-radius: 10px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 30px;
  height: 30px;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  border: 0px;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.modal-crux {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-top: 0;
  margin-left: 0;
  width: 30px;
  height: 30px;
}