p{
  font-size:12px;
  text-decoration: none;
  color:#a0a0a0;
}

h1{
  font-size:1.5em;
  color:#525252;
  padding-left:1rem;
}

.error-label{
  margin: 0 1em 0 5px;
  font-size:1em;
  color:#ffa2a2;
}

.logout-label{
  margin: 0 0 0 5px;
  font-size:1em;
  color:#b5b5b5;
}

.paper-custom{
  width:300px;
  margin: 0 auto 0 auto;
  padding:0px 0px 0px 0px;
}

.box{
  width:300px;
  margin: 0 auto 0 auto;
  padding:0px 0px 0px 0px;
}

.message-error-box{
  background:rgb(255, 251, 251);
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0px 0px 70px 0px;
  border: #f9c8c8 1px solid; 
}

.logged-msg-box{
  width:300px;
  border-radius:6px;
  margin: 0 auto 0 auto;
}

.textfield-custom{
  width:250px;
}

.wrapper-center {
  display: flex;
  justify-content: center;
}
.wrapper-center-for-button{
  display: flex;
  justify-content: center;
  padding: 20px;
}