<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Documento</title>

    <style>
        h1 { 
            color: rgb(149, 0, 255);
        }
    </style>
</head>
<body>
    Te contactaremos pronto
    <h1>Información recibida</h1>
    <ul>
        <li>Nombre de usuario: {{name}}</li>
        <li>Correo: {{email}}</li>
        <li>número de teléfono: {{phone}}</li>
    </ul>
    <p>Mensaje: {{message}}</p>

    </body>
</html>