    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h1 { 
            color: rgb(55, 0, 255);
        }
    </style>
</head>
    <body>

    <h1>Recuperación de contraseña</h1>

      <p>¿Olvidaste tu contraseña?</p>
      <p>Si quieres cambiar tu contraseña haz click en el enlace de abajo (o copia y pega la url en el navegador):</p>
      <p>{{recoverylink}}</p>
      <p>Este enlace lo llevará a la página segura para restablecer la contraseña.</p>
      <p>Si no desea restablecer su contraseña, ignore este mensaje. Su contraseña no se restablecerá.</p>
      <p>Gracias de parte de {{company}}</p>

    </body>
</html>