    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h1 { 
            color: rgb(55, 0, 255);
        }
    </style>
</head>
    <body>
        <h1>Recuperación de cuenta satisfactoria</h1>

      <p>Hola {{name}}!</p>
      <p>Te informamos que tu contraseña ha sido cambiada exitosamente.</p>
      <p>Si tienes algún problema con tu nueva contraseña, por favor comunícate con el administrador del sitio.</p>
      <p>Te damos las gracias de {{company}}</p>

      <p>No responda a este correo electrónico con su contraseña.
          Nunca le pediremos su contraseña y le recomendamos encarecidamente que no la comparta con nadie.</p>
      
    </body>
</html>
