    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        h1 { 
            color: rgb(55, 0, 255);
        }
    </style>
</head>
    <body>

    <h1>Bienvenido</h1>

      <p>Hola {{name}}!</p>
      <p>Te damos la bienvenida.</p>
      <p>Para completar la registración y confirmar tu email debes hacer Click en el siguiente link.</p>
      <p>{{link}}</p>
      <p>Te damos las gracias de parte de {{company}}</p>

    </body>
</html>