.qty_div {
  display: flex;
  text-align: center;
  padding: 5px;
  margin: 2%;
  justify-content: center;
}

.qty {
  width: 40px;
  height: 26px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(206, 206, 206);
}

input.qtyplus {
  width: 30px;
  height: 30px;
  background-color: rgb(235, 235, 235);
  border: 0px;
  cursor: pointer;
}

input.qtyminus {
  width: 30px;
  height: 30px;
  background-color: rgb(235, 235, 235);
  border: 0px;
  cursor: pointer;
}

input.qtyplus:hover {
  background-color: rgb(140, 195, 231);
}

input.qtyminus:hover {
  background-color: rgb(140, 195, 231);
}