.input-text-field-group {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  margin: 0 5px 5px;
  display: block;
}

.label-text-field {
  display: block;
  margin-bottom: 2px;
}

.input-text-field {
  width: 97%;
  border: 1px solid #999;
}

.input-text-field[type=text] {
  background: #fff;
  float: left;
  font-size: 13px;
  height: 33px;
  margin: 0;
  padding: 0 0 0 15px;
}

.input-text-field[type=password] {
  background: rgb(245, 245, 245);
  float: left;
  font-size: 13px;
  height: 33px;
  margin: 0;
  padding: 0 0 0 15px;
}

.error-message {
  color: #cc0033;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
}

.input-text-field .error-message {
  display: none;
}


/* Error Styling */

.error-text-fieldor label {
  color: #cc0033;
}

.error-text-field input[type=text] {
  background-color: #fce4e4;
  border: 1px solid #cc0033;
  outline: none;
}

.error-text-field .error-message {
  display: inline-block;
}

