.Navbar {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  justify-content: flex-start;
  align-items: center;
  height: 4rem;
  background-color: #9d91ff;
}

.RightNavWrap{
  display: flex;
  align-items: center;
  height: 4rem;
  font-size: 2rem;
}

.NavIconLink {
  display: flex;
  align-items: center;
  height: 4rem;
  font-size: 2rem;
}

.NavLogo{
  justify-self: center;
  alt: "Logo";
}

.LogoImg {
  justify-self: center;
  alt: "Logo";
}

.NavLogo {
  justify-self: center;
}