.SidebarLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
    font-size: 1.125rem;
    padding: 2rem;
    text-decoration: none;
    color: #ffffff;
}

.SidebarLabel {
    margin-left: 1rem;
}

.DropdownLink {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3.75rem;
    font-size: 1.125rem;
    padding-left: 3rem;
    text-decoration: none;
    color: #ffffff;
}