.alert-box {
    width: 65%;
    margin:0px auto;
    margin-top: 1rem;
    padding: 20px;
    background-color: #12DBAD;
    color: white;
    border-radius: 10px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}


/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {

    .alert-box {
        width: 70%;
        margin: 0px auto;
        margin-top: 1rem;
    }


}

/* smartphone */
@media screen and (max-width: 767px) {

    .alert-box {
        width: 100%;
        margin: 0px auto;
        margin-top: 1rem;
    }


}
