

body {
  position: relative;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.unstyle {
  all: unset;
}

.container-page {
  height: 100%;
  width: 100%;
  display: inline-block;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content-page {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.main-container {
  flex: 1 0 auto;
  width: 100%;
  margin-left: 5px;
}

.sidebar-social li {
  text-align: center;
  width: 31.9%;
  margin-bottom: 3px !important;
  display: inline-block;
  font-size: 10px;
  padding: 0;
}

.h1 {
  font-size: 1.5em;
  color: #525252;
  padding-left: 1rem;
}
.positionfixed {
position: "fixed";
}